<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>GifLib | Home</title>
</head>
<body>
    <h1> Home </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam consectetur consequuntur dolorem fugiat libero nam totam voluptatibus. Asperiores cupiditate, delectus deserunt dignissimos facere numquam possimus rerum sequi temporibus totam. </p>
    <img src="http://placeholder.com/300x300/5fcf80/ffffff", alt="Image" />
</body>
</html>